#loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url(img/loading-screen.svg);
  background-size: 20%;
  background-position: 50% 30vh;
  background-repeat: no-repeat;
}

/*Mobile size*/
@media only screen and (max-width: 650px) {
  #loading-overlay {
    background-size: 75%;
    background-position: 50% 25vh;
  }
}
