:root {
  --bright-bg-clr: #ffffff;
  --grey-bg-clr: #f7f6f9;

  --section-padding: 50px 50px;

  --primary-font-clr: #292929;
  --secondary-font-clr: #595959;

  --section-width: 70%;

  --card-border-radius: 1rem;
}

h2.description {
  color: var(--secondary-font-clr);
  line-height: 1;
  margin-bottom: 24px;
}

/*Grid Layout of whole page*/
body {
  background-color: var(--grey-bg-clr);
  color: var(--primary-font-clr);
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(290px, 450px) 1fr;
  grid-template-rows: 1fr 1.5fr;
  grid-template-areas:
    "current-weather forecasts"
    "current-weather today-highlights";
}

.current-weather {
  background-color: var(--bright-bg-clr);
  grid-area: current-weather;

  display: flex;
  flex-direction: column;

  padding: var(--section-padding);
  padding-inline: 40px;
}

.forecasts {
  grid-area: forecasts;

  padding: var(--section-padding);
}

.today-highlights {
  grid-area: today-highlights;

  padding: var(--section-padding);
}

/*Search field*/
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

form#search {
  width: 100%;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 6px;
}

/*Search label*/
label[for="search-bar"] {
  aspect-ratio: 1/1;
  background-image: url("./img/search.svg");
  background-size: 100%;
}

#search-bar {
  appearance: none;
  border-radius: var(--card-border-radius);
  border: none;
  outline: none;

  padding: 4px 6px;
  font-size: 1.1rem;

  &:focus {
    box-shadow: 0 0 3px 3px #00000019;
  }
}

#current-weather-icon {
  margin: -10px;
}

#current-condition {
  margin-top: -20px;
  font-size: 1.4rem;
  color: var(--secondary-font-clr);
}

.all-temperatures {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  column-gap: 10px;
}

.all-temperatures .temperature {
  font-size: 2.8rem;
  font-weight: 800;
}

#min-max-temperatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-temperatures .max-temperature,
.all-temperatures .min-temperature {
  font-size: 1.2rem;
  font-weight: 600;
}

.min-temperature {
  color: var(--secondary-font-clr);
}

#feels-like-box {
  font-size: 1.2rem;
  grid-column: 1 / 3;
}

#date {
  margin-top: 40px;
  font-size: 1.2rem;
  line-height: 1;

  color: var(--secondary-font-clr);
}

#location {
  font-size: 3rem;
  line-height: 1.1;
}

#current-precipprob {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3rem auto auto;
  align-items: center;
  justify-content: start;
  gap: 6px;
  font-size: 1.2rem;
}

#current-precipprob > img {
  aspect-ratio: 1 / 1;
  margin: -4px;
}

#unit-switch {
  width: fit-content;
  margin-right: calc(100% - var(--section-width));
  margin-left: auto;
}

#unit-switch input[type="radio"] {
  appearance: none;
}

#unit-switch label {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  margin-right: 2px;
  padding: auto;
  font-size: 1.4rem;

  border-radius: 100%;

  &:has(input[type="radio"]:checked) {
    background-color: #292929;
    color: var(--grey-bg-clr);
  }

  &:has(input[type="radio"]:hover) {
    border: 3px solid #292929;
  }
}

.hourly-forecasts,
.daily-forecasts,
.today-highlights {
  & > h1 {
    font-size: 1.8rem;
  }
}

.hourly-forecasts,
.daily-forecasts {
  overflow: auto;
  white-space: nowrap;
  margin-top: 24px;
}

.hourly-forecasts {
  width: var(--section-width);
}

.hourly-card {
  background-color: var(--bright-bg-clr);
  width: 8%;
  height: 150px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: var(--card-border-radius);
  padding: 10px;

  & + .hourly-card {
    margin-left: 16px;
  }
}

.hourly-card > img.weather-icon,
.daily-card > img.weather-icon {
  aspect-ratio: 1/1;
  height: 50px;
}

.daily-card {
  background-color: var(--bright-bg-clr);
  width: 8%;
  height: 150px;

  text-align: center;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: var(--card-border-radius);
  padding: 10px;

  & + .daily-card {
    margin-left: 16px;
  }
}

.today-highlights {
  width: var(--section-width);
}

.today-highlights > .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;
}

.info-card {
  padding: 1.6rem;
  background-color: var(--bright-bg-clr);
  border-radius: var(--card-border-radius);
}

.info-card img {
  width: 100px;
  aspect-ratio: 1 /1;
}

.info-card span {
  font-size: 2.4rem;
}
