:root {
  --bright-bg-clr: #ffffff;
  --grey-bg-clr: #f7f6f9;

  --section-padding: 16px 50px;

  --primary-font-clr: #292929;
  --secondary-font-clr: #595959;

  --card-border-radius: 1rem;

  width: 100vw;
}

h2.description {
  color: var(--secondary-font-clr);
  line-height: 1;
  margin-bottom: 12px;
  font-size: 1.2rem;
}

/*Grid Layout of whole page*/
body {
  background-color: var(--grey-bg-clr);
  color: var(--primary-font-clr);
  min-width: 370px;
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: calc(180px + 5vw) minmax(0, 1fr);
  position: relative;
}

.current-weather {
  background-color: var(--bright-bg-clr);

  display: flex;
  flex-direction: column;
  padding: 50px 35px;
}

.detailed-forecasts {
  padding: 50px 60px 50px 50px;
  max-width: 1300px;
}

/*Search field*/
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

form#search {
  display: grid;
  grid-template-columns: 20px minmax(0, 1fr);
  align-items: center;
  gap: 6px;
}

/*Search label*/
label[for="search-bar"] {
  aspect-ratio: 1/1;
  background-image: url("./img/search.svg");
  background-size: 100%;
}

#search-bar {
  appearance: none;
  border-radius: var(--card-border-radius);
  border: 2px solid #00000019;
  outline: none;

  padding: 4px 6px;
  font-size: 1.1rem;

  &:focus {
    box-shadow: 0 0 3px 3px #00000019;
  }
}

#current-weather-icon {
  margin: -10px;
}

#current-condition {
  margin-top: 0px;
  font-size: 1.4rem;
  color: var(--secondary-font-clr);
}

.all-temperatures {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 16px;
}

.all-temperatures .temperature {
  font-size: 2.2rem;
  font-weight: 800;
}

#min-max-temperatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-temperatures .max-temperature,
.all-temperatures .min-temperature {
  font-size: 1.2rem;
  font-weight: 600;
}

.min-temperature {
  color: var(--secondary-font-clr);
}

#feels-like-box {
  font-size: 1.2rem;
  grid-column: 1 / 3;
}

#date {
  margin-top: 20px;
  font-size: 1.15rem;
  line-height: 1;

  color: var(--secondary-font-clr);
}

#location {
  font-size: 2rem;
  line-height: 1.1;
}

#current-precipprob {
  margin-top: 4px;
  display: grid;
  grid-template-columns: 3rem auto auto;
  align-items: center;
  justify-content: start;
  grid-column-gap: 5px;
  font-size: 1.2rem;
}

#current-precipprob > img {
  aspect-ratio: 1 / 1;
  margin: -4px;
}

#unit-switch {
  width: fit-content;
  margin-left: auto;
}

#unit-switch input[type="radio"] {
  appearance: none;
}

#unit-switch > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  margin-right: 2px;
  padding: auto;
  font-size: 1.2rem;

  border-radius: 100%;

  &:has(input[type="radio"]:checked) {
    background-color: #292929;
    color: var(--grey-bg-clr);
  }

  &:has(input[type="radio"]:hover) {
    border: 3px solid #292929;
  }
}

#unit-switch span {
  text-align: center;
  padding-top: 3px;
}

.hourly-forecasts,
.daily-forecasts,
.today-highlights {
  margin-top: 16px;

  & > h1 {
    font-size: 1.6rem;
  }
}

#hourly-cards,
#daily-cards {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
  gap: 16px;
}

.hourly-card,
.daily-card {
  background-color: var(--bright-bg-clr);
  width: 10%;
  min-width: 90px;
  height: 150px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: var(--card-border-radius);
  padding: 10px;
}

.hourly-card img.weather-icon,
.daily-card img.weather-icon {
  width: 60px;
}

.today-highlights > .cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  grid-template-rows: repeat(2, 250px);
  margin-top: 6px;
  gap: 1.6rem;
  max-width: 1300px;
}

.info-card {
  min-width: 160px;
  padding: 1.6rem;
  background-color: var(--bright-bg-clr);
  border-radius: var(--card-border-radius);

  display: flex;
  flex-direction: column;
}

.info-card h2 {
  color: var(--secondary-font-clr);
  font-size: 1.3rem;
}

.info-data {
  margin-top: auto;
}

.info-data span.number {
  font-size: 2.4rem;
  color: var(--primary-font-clr);
  font-weight: 600;

  & + span.unit {
    font-size: 1.6rem;
  }
}

.info-card .sub-data {
  margin-top: 0;
  margin-bottom: auto;
  font-size: 1.4rem;
}

.info-card span {
  font-size: inherit;
}

#wind-direction {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

#wind-direction > .info-icon {
  background-image: url(./info-icons/compass.svg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: -7px;
}

#sunrise,
#sunset {
  height: 50%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 1rem;

  & > img {
    width: 75px;
  }

  & > span {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1400px) {
  .info-data span.number {
    font-size: 2.6rem;
  }

  #sun span {
    font-size: 1.6rem;
  }

  #sun img {
    width: 60px;
  }
}

@media only screen and (max-width: 1250px) {
  #location {
    font-size: 2rem;
  }

  .info-card {
    padding: 1.6rem 1.2rem;
  }

  .today-highlights > .cards {
    grid-template-rows: repeat(2, 250px);
  }

  .info-data span.number {
    font-size: 2.2rem;

    & + span.unit {
      font-size: 1.6rem;
    }
  }

  #sun span {
    font-size: 1.4rem;
  }

  #sunrise img,
  #sunset img {
    width: 50px;
  }
}

@media only screen and (max-width: 1110px) {
  .info-card h2 {
    font-size: 1.3rem;
  }

  .info-data span.number {
    font-size: 2rem;

    & + span.unit {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 1065px) {
  .current-weather {
    padding-inline: 24px;
  }

  .all-temperatures .temperature {
    font-size: 2rem;
  }

  .all-temperatures .max-temperature,
  .all-temperatures .min-temperature {
    font-size: 1.1rem;
  }

  .today-highlights > .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
  }

  .info-data span.number {
    font-size: 2.2rem;

    & + span.unit {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 880px) {
  .today-highlights > .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 250px);
  }

  .info-card#uv {
    grid-column: 1 / 3;
  }
}

@media only screen and (max-width: 810px) {
  body {
    grid-template-columns: calc(185px + 3vw) minmax(0, 1fr);
  }

  .current-weather #date {
    font-size: 1.1rem;
  }

  .current-weather #location {
    font-size: 1.6rem;
  }

  .all-temperatures {
    display: block;
  }

  #current-precipprob {
    grid-template-columns: 2.3rem auto auto;
    font-size: 1.15rem;
  }

  .detailed-forecasts {
    padding-inline: 36px;
  }

  .detailed-forecasts h1 {
    font-size: 1.6rem;
  }

  h2.description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .today-highlights > .cards {
    grid-template-rows: 250px repeat(3, 200px);
  }

  .info-card h2 {
    font-size: 1.2rem;
  }

  .info-data span.number {
    font-size: 1.8rem;

    & + span.unit {
      font-size: 1.4rem;
    }
  }

  .info-card .sub-data {
    font-size: 1.35rem;
  }

  #sunset img,
  #sunrise img {
    width: 40px;
  }

  #sun span {
    font-size: 1.2rem;
  }
}

/*Mobile size*/
@media only screen and (max-width: 650px) {
  body {
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .current-weather {
    text-align: center;
    padding-bottom: 16px;
    padding-top: 24px;
  }

  .current-weather #location {
    font-size: 2rem;
  }

  img#current-weather-icon {
    width: 60%;
    margin: 0 auto;
    margin-top: -5vw;
    margin-bottom: -3vw;
  }

  .all-temperatures {
    margin-top: 5px;
  }

  #min-max-temperatures {
    flex-direction: row;
    gap: 16px;
  }

  #current-precipprob {
    width: max-content;
    margin-inline: auto;
  }

  .detailed-forecasts {
    padding: 0 24px;
  }

  .hourly-forecasts,
  .daily-forecasts,
  .today-highlights,
  #unit-switch {
    margin-top: 12px;
  }

  #hourly-cards,
  #daily-cards {
    display: flex;
    align-items: center;
  }

  .today-highlights > .cards {
    gap: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .detailed-forecasts h1 {
    font-size: 1.3rem;
  }

  .today-highlights > .cards {
    grid-template-rows: 200px;
    grid-auto-rows: 160px;
  }

  .info-card {
    padding: 1rem 0.8rem;
  }

  h2.description {
    font-size: 1.1rem;
  }

  .info-card h2 {
    font-size: 1.1rem;
  }

  .info-data span.number {
    font-size: 1.6rem;

    & + span.unit {
      font-size: 1.2rem;
    }
  }

  .info-card .sub-data {
    font-size: 1.1rem;
  }

  #sun span {
    font-size: 1rem;
  }

  #hourly-cards,
  #daily-cards {
    gap: 12px;
  }

  .hourly-card,
  .daily-card {
    background-color: var(--bright-bg-clr);
    width: 20%;
    min-width: 70px;
    height: 120px;
  }

  .hourly-card img.weather-icon,
  .daily-card img.weather-icon {
    width: 45px;
  }

  #unit-switch > label {
    width: 32px;
    height: 32px;
    font-size: 1.05rem;
  }

  #unit-switch span {
    padding-top: 0px;
  }
}
