.red-hat-display-normal {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

:root {
  --bright-bg-clr: #ffffff;
  --grey-bg-clr: #f7f6f9;

  --section-padding: 16px 50px;

  --primary-font-clr: #292929;
  --secondary-font-clr: #595959;

  --card-border-radius: 1rem;

  width: 100vw;
}

h2.description {
  color: var(--secondary-font-clr);
  line-height: 1;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

/*Grid Layout of whole page*/
body {
  font-family: "Red Hat Display", "Times New Roman", Times, serif;
  background-color: var(--grey-bg-clr);
  color: var(--primary-font-clr);
  min-width: 370px;
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: calc(185px + 7vw) minmax(0, 1fr);
  position: relative;
}

.current-weather {
  background-color: var(--bright-bg-clr);

  display: flex;
  flex-direction: column;
  padding: 50px 35px;
}

.detailed-forecasts {
  padding: 50px 60px 50px 50px;
  max-width: 1620px;
}

/*Search field*/
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

form#search {
  display: grid;
  grid-template-columns: 20px minmax(0, 1fr);
  align-items: center;
  gap: 6px;
}

/*Search label*/
label[for="search-bar"] {
  aspect-ratio: 1/1;
  background-image: url("./img/search.svg");
  background-size: 100%;
}

#search-bar {
  appearance: none;
  border-radius: var(--card-border-radius);
  border: 2px solid #00000019;
  outline: none;

  padding: 4px 6px;
  font-size: 1.1rem;

  &:focus {
    box-shadow: 0 0 3px 3px #00000019;
  }
}

#current-weather-icon {
  width: 75%;
  margin: -10px;
  margin-inline: auto;
}

#current-condition {
  margin-top: 0px;
  font-size: 1.3rem;
  color: var(--secondary-font-clr);
}

.all-temperatures {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  grid-template-rows: 2fr 1fr;
  column-gap: 10px;
}

.all-temperatures .temperature {
  font-size: 2.4rem;
  font-weight: 800;
}

#min-max-temperatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-temperatures .max-temperature,
.all-temperatures .min-temperature {
  font-size: 1.2rem;
  font-weight: 600;
}

.min-temperature {
  color: var(--secondary-font-clr);
}

#feels-like-box {
  font-size: 1.2rem;
  grid-column: 1 / 3;
}

#date {
  margin-top: 40px;
  font-size: 1.2rem;
  line-height: 1;

  color: var(--secondary-font-clr);
}

#location {
  font-size: 2.2rem;
  line-height: 1.1;
}

#current-precipprob {
  margin-top: 4px;
  display: grid;
  grid-template-columns: 3rem auto auto;
  align-items: center;
  justify-content: start;
  gap: 6px;
  font-size: 1.2rem;
}

#current-precipprob > img {
  aspect-ratio: 1 / 1;
  margin: -4px;
}

#unit-switch {
  width: fit-content;
  margin-left: auto;
}

#unit-switch input[type="radio"] {
  appearance: none;
}

#unit-switch > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  margin-right: 2px;
  padding: auto;
  font-size: 1.4rem;

  border-radius: 100%;

  &:has(input[type="radio"]:checked) {
    background-color: #292929;
    color: var(--grey-bg-clr);
  }

  &:has(input[type="radio"]:hover) {
    border: 3px solid #292929;
  }
}

#unit-switch span {
  text-align: center;
  padding-top: 3px;
}

.hourly-forecasts,
.daily-forecasts,
.today-highlights {
  & > h1 {
    font-size: 1.4rem;
    margin-top: 24px;
  }
}

#hourly-cards,
#daily-cards {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

.hourly-card,
.daily-card {
  background-color: var(--bright-bg-clr);
  min-width: 100px;
  width: 8%;
  height: 150px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: var(--card-border-radius);
  padding: 10px;
}

.hourly-card + .hourly-card,
.daily-card + .daily-card {
  margin-left: 16px;
}

.hourly-card img.weather-icon,
.daily-card img.weather-icon {
  width: 60px;
}

.today-highlights > .cards {
  display: grid;
  grid-template-columns: minmax(340px, 1fr) 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
  gap: 1.6rem;
  max-width: 1300px;
}

.info-card {
  min-width: 160px;
  padding: 1.6rem;
  background-color: var(--bright-bg-clr);
  border-radius: var(--card-border-radius);

  display: flex;
  flex-direction: column;
}

.info-card h2 {
  color: var(--secondary-font-clr);
}

.info-data {
  margin-top: auto;
}

.info-data span.number {
  font-size: 3.2rem;
  color: var(--primary-font-clr);
  font-weight: 600;

  & + span.unit {
    font-size: 1.8rem;
  }
}

.info-card .sub-data {
  margin-top: 0;
  margin-bottom: auto;
  font-size: 1.6rem;
}

.info-card span {
  font-size: inherit;
}

.info-card h2 {
  margin-bottom: 4px;
}

#uv-chart {
  --section-width: 300px;
  --section-height: calc(var(--section-width) / 2);
  --width-offset: 65px;
  --bar-width: calc(var(--section-width) - var(--width-offset));
  --bar-height: calc(var(--section-height) - var(--width-offset) / 2);
  --animation-duration: 0.1s;

  --border-width: 40px;

  position: relative;
  width: var(--section-width);
  height: var(--section-height);
  padding: 0;
  margin-inline: auto;

  overflow: hidden;

  justify-self: center;
}

#uv-chart + .sub-data {
  text-align: center;
  margin: 0;
  margin-top: 24px;
  line-height: 1;
}

#uv-chart::before,
#uv-chart::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*The chart*/
#uv-chart::before {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  border: var(--border-width) rgba(0, 0, 0, 0.089) solid;
  border-bottom: none;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
}

/*The UV index number in the center of chart*/
#uv-chart::after {
  content: attr(data-content);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  color: var(--primary-font-clr);
}

#uv-bar {
  position: absolute;
  top: 100%;
  left: calc(var(--width-offset) / 2);
  width: var(--bar-width);
  height: var(--bar-height);

  border: var(--border-width) solid;
  border-top: none;
  border-bottom-left-radius: var(--bar-height);
  border-bottom-right-radius: var(--bar-height);
  border-color: #ffbd5f;

  transform-origin: 50% 0;

  transform: rotate(0);
  transition: transform 1.1s ease-in-out;
}

#uv-chart > .index {
  position: absolute;
  left: 0;
  top: 100%;
  width: inherit;
  height: inherit;
  transform-origin: 50% 0;
}

.index > span {
  position: absolute;
  font-size: 1.2rem;
  left: 0.7rem;
  top: -15px;
  color: var(--secondary-font-clr);
}

#index-0 > span {
  top: -26px;
  left: 15px;
}

#index-3 {
  transform: rotate(54deg);

  & > span {
    transform: rotate(-54deg);
  }
}

#index-5 {
  transform: rotate(90deg);

  & > span {
    transform: rotate(-90deg);
  }
}

#index-7 {
  transform: rotate(126deg);

  & > span {
    transform: rotate(-126deg);
  }
}

#index-10 {
  transform: rotate(180deg);

  & > span {
    transform: rotate(-180deg);
    top: -6px;
    left: 5px;
  }
}

#wind-direction {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

#wind-direction > .info-icon {
  background-image: url(./info-icons/compass.svg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: -7px;
}

#sunrise,
#sunset {
  height: 50%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 1rem;

  & > img {
    width: 75px;
  }

  & > span {
    font-size: 2rem;
    font-weight: bold;
  }
}

#loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url(img/loading-screen.svg);
  background-size: 40%;
  background-position: 50% 35vh;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1350px) {
  .info-data span.number {
    font-size: 2.6rem;
  }

  #sun span {
    font-size: 1.6rem;
  }

  #sun img {
    width: 60px;
  }
}

@media only screen and (max-width: 1250px) {
  #location {
    font-size: 2rem;
  }

  .info-card {
    padding: 1.6rem 1.2rem;
  }

  .info-data span.number {
    font-size: 2.2rem;

    & + span.unit {
      font-size: 1.6rem;
    }
  }

  #sun span {
    font-size: 1.4rem;
  }

  #sunrise img,
  #sunset img {
    width: 50px;
  }
}

@media only screen and (max-width: 1110px) {
  .info-card h2 {
    font-size: 1.3rem;
  }

  .info-data span.number {
    font-size: 2rem;

    & + span.unit {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 1065px) {
  .today-highlights > .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
  }

  .info-data span.number {
    font-size: 2.2rem;

    & + span.unit {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 925px) {
  .all-temperatures .temperature {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 880px) {
  .today-highlights > .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 250px);
  }
}

@media only screen and (max-width: 810px) {
  body {
    grid-template-columns: calc(185px + 3vw) minmax(0, 1fr);
  }

  .current-weather #date {
    font-size: 1.1rem;
  }

  .current-weather #location {
    font-size: 1.6rem;
  }

  .all-temperatures {
    display: block;
  }

  #current-precipprob {
    grid-template-columns: 2.3rem auto auto;
    font-size: 1.15rem;
  }

  .detailed-forecasts {
    padding-inline: 36px;
  }

  .detailed-forecasts h1 {
    font-size: 1.6rem;
  }

  h2.description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .today-highlights > .cards {
    grid-template-rows: 250px repeat(3, 200px);
  }

  .info-card h2 {
    font-size: 1.2rem;
  }

  .info-data span.number {
    font-size: 1.8rem;

    & + span.unit {
      font-size: 1.4rem;
    }
  }

  .info-card .sub-data {
    font-size: 1.35rem;
  }

  #sunset img,
  #sunrise img {
    width: 40px;
  }

  #sun span {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 650px) {
  body {
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .current-weather {
    text-align: center;
    padding-bottom: 16px;
  }

  .current-weather #location {
    font-size: 2rem;
  }

  img#current-weather-icon {
    width: 60%;
    margin: 0 auto;
    margin-top: -5vw;
    margin-bottom: -3vw;
  }

  .all-temperatures {
    margin-top: 5px;
  }

  #min-max-temperatures {
    flex-direction: row;
    gap: 16px;
  }

  #current-precipprob {
    width: max-content;
    margin-inline: auto;
  }

  .detailed-forecasts {
    padding: 0 24px;
  }

  #unit-switch {
    margin-top: 24px;
  }

  #hourly-cards,
  #daily-cards {
    display: flex;
    align-items: center;
  }
}
